body {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}
.btn {
    background-color: pink;
    border: none;
    width: 10rem;
    height: 3rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 2rem;
}